@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700;800;900;1000&display=swap');body{
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Cairo', sans-serif;

}
nav.navbar{
    z-index: 15;
}
nav.navbar .navbar-brand img{
    width: 80%;
}
nav.navbar .navbar-nav .nav-item a.nav-link{
    font-size: 16px;
    color: #e8e8e8;
    line-height: 40px;
    padding: 0 16px;
    transition: all 0.3s;
} 
nav.navbar .navbar-nav .nav-item a.nav-link:hover,
nav.navbar .navbar-nav .nav-item a.nav-link.active{
    background-color: #e8e8e8;
    color: #6db5ed;

}
nav.navbar.noTransparrent{
    background-color: #fff;
    border: 1px solid #eee ;
}
nav.navbar.noTransparrent .nav-item a.nav-link{
    color: #793fdfcc;
}
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link:hover,
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link.active{
    background-color: #793fdfcc;
    color: #e8e8e8;

}
header{
    background-image:url(../images/backgerd.png) ;
    background-size: cover;
    background-position:center ;
}
header .overlay{
    background: linear-gradient(to right, rgba(46, 178, 181, 0.8 ), rgba(121, 63, 223, 0.8));
    min-height: 100vh;
} 
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #793fdfcc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

}
#scrollToTopButton:hover {
    background-color: #e8e8e8;
    color: #793fdfcc;

}