@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700;800;900;1000&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Cairo', sans-serif;
    background-color: #F5F5F5;
    color: #0e0e22;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
nav.navbar{
    z-index: 15;
}
nav.navbar .navbar-brand img{
    width: 80%;
}
nav.navbar button.buttonMobile{
    display: none;
}
 .navbar-toggler {
    border:none !important;

}
nav.navbar .navbar-nav .nav-item a.nav-link{
    font-size: 16px;
    color: #e8e8e8;
    line-height: 40px;
    padding: 0 16px;
    transition: all 0.3s;
} 
nav.navbar .navbar-nav .nav-item a.nav-link:hover,
nav.navbar .navbar-nav .nav-item a.nav-link.active{
    background-color: #e8e8e8;
    color: #6db5ed;

}
nav.navbar.noTransparrent{
    background-color: #F5F5F5;
    border: 1px solid #eee ;
}
nav.navbar.noTransparrent .nav-item a.nav-link{
    color: #793fdfcc;
}
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link:hover,
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link.active{
    background-color: #793fdfcc;
    color: #e8e8e8;
}
header{
    background-image:url(../images/backgerd.png) ;
    background-size: cover;
    background-position:center ;
}
header .overlay{
    background: linear-gradient(to right, rgba(46, 178, 181, 0.8 ), rgba(121, 63, 223, 0.8));
    min-height: 100vh;
} 
header .overlay .carousel .carousel-item{
    min-height: 100vh;
    position: relative;

}
header .overlay .carousel .carousel-item .carousel-content{
    position: absolute;
    top: 40%;
    right: 15%;
    left: 15%;
    text-align: center;
    z-index: 10;
}
header .overlay .carousel .carousel-item .carousel-content h2{
    font-size: 40px ;
    line-height: 52px;
    margin-bottom: 60px;
    color: #e8e8e8;
}
header .overlay .carousel .carousel-item .carousel-content a{
    padding: 13px 47px;
    color: #e8e8e8;
    background-color: #6db5ed;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 20px 0px #3b617d;
    transition: all 0.3s;
}
header .overlay .carousel .carousel-item .carousel-content a:hover{
    box-shadow: 0px 0px 20px 8px #6db5ed;
}
section.services{
    padding: 80px 0;
    min-height: 700px;
}
section.services .services-title h3 {
    margin-bottom: 50px;
    font-size: 40px;
}

section.services .card {
   height: 330px;
   padding: 50px;
   margin-bottom: 20px; 
   background-color: #fff;
   transition: all 1s ease-in-out ;
}

section.services .card:hover {
    height: 400px;
    background-color: #e8e8e8;
 }

section.services .card .card-img{
    margin-bottom: 45px;
 }
 section.services .card .card-block h4{
    font-size: 24px;
    margin-bottom: 25px;
 }
 section.services .card .card-block p{
    font-size: 15px;
    line-height: 21px;
    opacity: 0;
    transition: opacity 1s ease-in-out ;

 }
 section.services .card:hover .card-block p{
    opacity: 1;

 }

 section.gallery .gallery-title h3{
    font-size: 40px;
    margin-bottom: 10px;
 }
 section.gallery .gallery-title p{
    margin-bottom: 60px;
    color: #bc98fe;
    transition: color 1s ease-in-out ;

 }
 section.gallery .gallery-work a.gallery-link{
    position: relative;
    display: block;
 }

 section.gallery .gallery-work .gallery-link .gallery-hover{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    color: #e8e8e8;
    background: rgba(175, 129, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease-in-out ;

 }
 section.gallery .gallery-work .gallery-link .gallery-hover i{
    position: absolute;
    bottom: 50%;
    right: 50%;
    font-size: 40px ;
    transform: translate(50% , 50%);
 }


 section.gallery .gallery-work .gallery-link img{
    width: 100%;
 }
 
 section.gallery .gallery-work .gallery-link:hover .gallery-hover{
    opacity: 1;

 }

 section.gallery .gallery-work .gallery-overlay{
    background: rgba( 0, 0, 0, 0.9 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
    position: fixed;
    right: 0;
    top: 0;
    width:100% ;
    height: 100vh;
    z-index: 30;
    padding: 5% 10%;
    opacity: 0;
    margin-top: -100vh;
    transition: all 1s ease-in-out ;

 }

 section.gallery .gallery-work .gallery-overlay:target{
    opacity: 1;
    margin-top: 0;

 }
 section.gallery .gallery-work .gallery-overlay .overlay-img img{
    width: 100%;
 }


 section.gallery .gallery-work .gallery-overlay .overlay-text{
    color: #e8e8e8;
    margin-top: 50px;
 }

 section.gallery .gallery-work .gallery-overlay .overlay-text h4{
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 30px;
    color: #6db5ed;
 }

 section.gallery .gallery-work .gallery-overlay .overlay-text ul{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #919191;
 }

 section.gallery .gallery-work .gallery-overlay .overlay-text li a{
    color: #555;
    text-decoration: none;
    font-family: sans-serif;
    transition: all 0.5s ease-in-out ;

 }
 section.gallery .gallery-work .gallery-overlay .overlay-text li a:hover{
    color: #e8e8e8;
 }

 section.gallery .gallery-work .gallery-overlay .overlay-text p{
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #919191;
 }


 section.gallery .gallery-work .gallery-overlay .overlay-text a.btn{
    font-size: 20px;
    line-height: 50px;
    border-radius: 8px;
    padding: 0 15px;
    background-color: #6db5ed;
    color: #e8e8e8;
    transition: all 0.5s ease-in-out ;

 }
 section.gallery .gallery-work .gallery-overlay .overlay-text a.btn:hover{
    background-color: #e8e8e8;
    color: #6db5ed;
 }

 section.gallery .gallery-work .gallery-overlay .overlay-text a.close{
    color: #e8e8e8;
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease-in-out ;

 }
 section.gallery .gallery-work .gallery-overlay .overlay-text a.close:hover{
    color: red;
    
 }


section.statistics {
    background-image: url(/images/bg-2.jpg);
    background-position:center ;
    background-size:cover ;
    background-attachment:fixed ;
}
section.statistics .overlay {
    background: rgba(175, 129, 255, 0.8);
        padding: 140px 0 100px ;
        color: #e8e8e8;
        transition: all 0.3s ease-in-out ;
    }

section.statistics .overlay .count {
    font-size: 40px;
    font-weight: bold;
    margin: 25px auto 10px ;
}

section.statistics .overlay span.counter{
    font-size: 18px;
    line-height: 22px;
}

section.contacts {
    padding: 100px 0 60px;
}

section.contacts .map iframe {
    height: 250px;
    width: 90%;
}

section.contacts .contact-addresses h4 {
    font-size: 25px;
    margin-bottom: 40px;
}

section.contacts .contact-addresses ul {
    list-style: none;
    padding: 0;
}

section.contacts .contact-addresses ul li{
    font-size: 29px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #bc98fe;
    transition: color 1s ease-in-out ;

}

section.contacts .contact-addresses li address {
    display: inline;

}
section.contacts .contact-text {
    margin: 50px auto 20px;
}

section.contacts .contact-text h3 {
    font-size: 24px;
    font-weight: bold;
}

section.contacts .contact-form {
    width: 60%;
    margin: auto;
}
section.contacts .contact-form input,
section.contacts .contact-form textarea {
background-color: #fff;
border: 2px solid #ececec;
font-size: 15px;
line-height: 25px ;
border-radius: 3px;
text-align: right;
transition: background-color 1s ease-in-out, border 1s ease-in-out ;
} 

section.contacts .contact-form button {
    background-color: #bc98fe;
    font-size: 15px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
    width: auto;
    margin-right: 12px;
    transition: all 0.3s ease-in-out ;
}

section.contacts .contact-form button:hover {
    background-color: #fff;
    color: #bc98fe;

}

footer.footer .top-footer {
    padding: 75px 0;
    background-color: #11101a;
}


footer.footer .top-footer h5 {
    font-size: 18px;
    line-height: 45px;
    color: #86c2f0;
    margin-bottom: 30px;
    position: relative;
}

footer.footer .top-footer h5::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 35px;
    height: 3px;
    background-color: #e8e8e8;
}

footer.footer .top-footer .about-us p {
    font-size: 15px;
    line-height: 22px;
    color: #e8e8e8;
    margin-bottom: 60px;
}

footer.footer .top-footer .about-us ul a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #26243b;
    color: #e8e8e8;
    display: block;
    border-radius: 2px;
    text-align: center;
    transition: all 0.3s ease-in-out ;

}

footer.footer .top-footer .about-us ul a:hover {
    background-color: #86c2f0;
}

footer.footer .top-footer ul.contact-list {
    list-style: none;
    padding: 0;
}

footer.footer .top-footer ul.contact-list li {
    font-size: 18px;
    margin-bottom: 35px;
    color: #e8e8e8;

}

footer.footer .top-footer ul.contact-list li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #26243b;
    color: #e8e8e8;
    border-radius: 2px;
    margin-left: 15px;
}

footer.footer .copyright {
    background-color: #0e0e16;
    padding: 30px 0;
}

footer.footer .copyright p{
    font-size: 15px;
    color: #e8e8e8;
    text-align: center;
}

footer.footer .copyright p a{
    text-decoration: none;
    color: #86c2f0;
}


/* ستايل الصفحة الداكنة */


#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0e0e22;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 20;
}
.dark-mode #scrollToTopButton {
    background-color: #e8e8e8;
    color: #0e0e22;
}
.dark-mode #scrollToTopButton:hover {
    color: #e8e8e8;
    background-color: #793fdfcc;

}
#scrollToTopButton:hover {
    background-color: #6db5ed;
} 

/* ستايل الصفحة العادية */


/* ستايل الصفحة الداكنة */
.dark-mode {
    background-color: #0e0e22;
    color: #ffffff;
}
.dark-mode nav.navbar.noTransparrent{
    background-color: #0e0e22;
    border: 1px solid #0a0a19 ;
}
.dark-mode nav.navbar.noTransparrent .nav-item a.nav-link{
    color: #e8e8e8;
}
.dark-mode nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link:hover,
.dark-mode nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link.active{
    background-color: #6db5ed;
    color: #e8e8e8;
}

.dark-mode .navbar-toggler {

    color:#e8e8e8 !important;
    background-color: transparent;
    border:none !important;
    transition: color 0.5s ease-in-out;

}
.dark-mode nav.navbar.noTransparrent i.fa-bars{
    color: #e8e8e8 !important;

}
button#darkModeButton{
    border-radius: 50%;
    border: none;
    margin-bottom: -4px;
    color: #0e0e22;
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   }
   button#darkModeButton i{
    font-size: 27px;
   }
   button#darkModeButtonapp{
    border-radius: 50%;
    border: none;
    color: #0e0e22;
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   }

.dark-mode button#darkModeButton{
 border-radius: 50%;
 border: none;
 color: #e8e8e8;
 background-color: transparent !important;
 transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.dark-mode button#darkModeButtonapp{
    border-radius: 50%;
    border: none;
    color: #e8e8e8;
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   }
.dark-mode section.services .card {
    background-color: #26243b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #e8e8e8;
    transition: all 1s ease-in-out ;
 }
 
 .dark-mode section.services .card:hover {
     height: 400px;
     background-color: #1d1b37;
    }
.dark-mode section.gallery .gallery-work .gallery-link .gallery-hover{

    background: rgba( 109, 181, 237, 0.7 );

     }

.dark-mode section.statistics .overlay{
    background: rgba( 109, 181, 237, 0.8 );

    }
.dark-mode section.contacts .contact-addresses ul li{

        color: #86c2f0;
    
    }

.dark-mode section.contacts .contact-form input,
.dark-mode section.contacts .contact-form textarea {
    background-color: #26243b;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #e8e8e8 !important;

}

.dark-mode section.contacts .contact-form input::placeholder,
.dark-mode section.contacts .contact-form textarea::placeholder{
    color: #e8e8e8;
}
.dark-mode section.contacts .contact-form button {
    background-color: #86c2f0;
    color: #fff;

}
.dark-mode section.gallery .gallery-title p{
    color: #86c2f0;
 }
.dark-mode section.contacts .contact-form button:hover {
    background-color: #fff;
    color: #86c2f0;

}




@media (max-width: 991px) {

    nav.navbar button.buttonapp{
        display: none;
    }
    nav.navbar button.buttonMobile{
        display: block;

    }
    section.services .card {
        padding: 20px;
        height: 400px;
    }
    section.services .card .card-img {
        margin-bottom: 35px;
    }
    section.services .card .card-block h4{
        font-size: 20px;
        margin-bottom: 15px;
     }
     section.services .card .card-block p{
        opacity: 1;
     }
     section.contacts .map iframe {
        width: 100%;
    }
    section.contacts .contact-form {
        width: 80%;
    }

}

@media (max-width: 768px) {
    section.gallery .gallery-work .gallery-overlay {
        margin-top: -170vh;
    }
    section.gallery .gallery-work .gallery-overlay .overlay-img {
        display: none;
    }
    section.contacts .map  {
       margin-bottom: 30px;
    }
    footer.footer .top-footer ul.contact-list li {
        font-size: 15px;
    }
}
@media (max-width: 576px) {
    header .overlay .carousel button {
        display: none;
    }
}

@media (max-width: 415px) {
    footer.footer .copyright p {
        font-size: 18px;
    }
    footer.footer .top-footer ul.contact-list li {
        font-size: 10px;
    }
    section.contacts .contact-addresses ul li {
        font-size: 18px;

    }
    section.gallery .gallery-title h3 {
        font-size: 25px;
    }
    section.gallery .gallery-title p{
        font-size: 15px;

     }
    header .overlay .carousel .carousel-item .carousel-content h2 {
        font-size: 30px;

    }
}