@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700;800;900;1000&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Cairo', sans-serif;
    background-color: #ffffff;
    color: #0e0e22;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
nav.navbar{
    z-index: 15;
}
nav.navbar .navbar-brand img{
    width: 80%;
}
nav.navbar .navbar-nav .nav-item a.nav-link{
    font-size: 16px;
    color: #e8e8e8;
    line-height: 40px;
    padding: 0 16px;
    transition: all 0.3s;
} 
nav.navbar .navbar-nav .nav-item a.nav-link:hover,
nav.navbar .navbar-nav .nav-item a.nav-link.active{
    background-color: #e8e8e8;
    color: #6db5ed;

}
nav.navbar.noTransparrent{
    background-color: #fff;
    border: 1px solid #eee ;
}
nav.navbar.noTransparrent .nav-item a.nav-link{
    color: #793fdfcc;
}
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link:hover,
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link.active{
    background-color: #793fdfcc;
    color: #e8e8e8;
}
header{
    background-image:url(../images/backgerd.png) ;
    background-size: cover;
    background-position:center ;
}
header .overlay{
    background: linear-gradient(to right, rgba(46, 178, 181, 0.8 ), rgba(121, 63, 223, 0.8));
    min-height: 100vh;
} 
header .overlay .carousel .carousel-item{
    min-height: 100vh;
    position: relative;

}
header .overlay .carousel .carousel-item .carousel-content{
    position: absolute;
    top: 40%;
    right: 15%;
    left: 15%;
    text-align: center;
    z-index: 10;
}
header .overlay .carousel .carousel-item .carousel-content h2{
    font-size: 40px ;
    line-height: 52px;
    margin-bottom: 60px;
    color: #e8e8e8;
}
header .overlay .carousel .carousel-item .carousel-content a{
    padding: 13px 47px;
    color: #e8e8e8;
    background-color: #6db5ed;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 20px 0px #3b617d;
    transition: all 0.3s;
}
header .overlay .carousel .carousel-item .carousel-content a:hover{
    box-shadow: 0px 0px 20px 8px #6db5ed;
}
section.services{
    padding: 80px 0;
}
section.services .services-title h3 {
    margin-bottom: 50px;
    font-size: 40px;
}

section.services .card {
   height: 330px;
   padding: 50px;
   margin-bottom: 20px; 
   transition: all 1s ease-in-out ;
}

section.services .card:hover {
    height: 400px;
    background-color: #e8e8e8;
 }

section.services .card .card-img{
    margin-bottom: 45px;
 }
 section.services .card .card-block h4{
    font-size: 24px;
    margin-bottom: 25px;
 }
 section.services .card .card-block p{
    font-size: 15px;
    line-height: 21px;
    opacity: 0;
    transition: opacity 1s ease-in-out ;

 }
 section.services .card:hover .card-block p{
    opacity: 1;

 }




#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0e0e22;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;

}
.dark-mode #scrollToTopButton {
    background-color: #e8e8e8;
    color: #0e0e22;
}
.dark-mode #scrollToTopButton:hover {
    color: #e8e8e8;
    background-color: #793fdfcc;

}
#scrollToTopButton:hover {
    background-color: #6db5ed;
} 

/* ستايل الصفحة العادية */


/* ستايل الصفحة الداكنة */
.dark-mode {
    background-color: #0e0e22;
    color: #ffffff;
}
.dark-mode nav.navbar.noTransparrent{
    background-color: #0e0e22;
    border: 1px solid #0a0a19 ;
}
.dark-mode nav.navbar.noTransparrent .nav-item a.nav-link{
    color: #e8e8e8;
}
.dark-mode nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link:hover,
.dark-mode nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link.active{
    background-color: #6db5ed;
    color: #e8e8e8;
}
.dark-mode nav.navbar.noTransparrent i.fa-bars{
    color: #e8e8e8 !important;

}
button#darkModeButton{
    border-radius: 50%;
    border: none;
    color: #e8e8e8;
    background-color: #0e0e22;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   }
   @media (max-width:540px) {
    button#darkModeButton{
        margin-right: 7rem!important;
       }
}

.dark-mode button#darkModeButton{
 border-radius: 50%;
 border: none;
 color: #0e0e22;
 background-color: #e8e8e8;
 transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.dark-mode section.services .card {
    background-color: #26243b;
    color: #e8e8e8;
    transition: all 1s ease-in-out ;
 }
 
 .dark-mode section.services .card:hover {
     height: 400px;
     background-color: #1d1b37;
    }